# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\大数据技术与应用专业\Spark\SparkProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
